[Unit]
Description=Pi Surveillence Camera Video Capture
After=network.target

[Service]
ExecStart=/home/piuser/rpi-surveillence/pi-cam-record.sh
WorkingDirectory=/home/piuser
Restart=always
User=piuser
RestartSec=5
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
