services:
  uploader-api:
    build: .
    ports:
      - "5002:5000"
    env_file:
      - .env
    restart: 'unless-stopped'
    volumes:
      - /zstorage/surveillance_video:/data/video
    group_add:
      - '993'
    devices:
      - /dev/dri/renderD129:/dev/dri/renderD129