services:
  uploader-api:
    build: .
    ports:
      - "5002:5000"
    env_file:
      - .env
    restart: 'unless-stopped'
    volumes:
      - /zstorage/surveillance_video:/data/video
    group_add:
      - "video"
    devices:
      - /dev/dri/card1:/dev/dri/card1
      - /dev/dri/renderD129:/dev/dri/renderD129
    environment:
      - LIBVA_DRIVER_NAME=iHD
      - LIBVA_DRIVERS_PATH=/usr/lib/x86_64-linux-gnu/dri